source 'http://rubygems.org'

gem 'cucumber'
gem 'rspec'
gem 'rake'
gem 'fig_newton'
gem 'nokogiri'
<% if driver = 'watir' -%>
gem 'page-object'
<% elsif driver = 'capybara' -%>
gem 'capybara'
gem 'site_prism'
<% end -%>

