source 'http://rubygems.org'

gem 'cucumber'
gem 'rspec'
gem 'rake'
gem 'nokogiri'
<% if driver == 'watir' -%>
gem 'watir'
gem 'page-object'
<% elsif driver == 'capybara' -%>
gem 'capybara'
gem 'site_prism'
<% end -%>
