<% if driver == 'watir' -%>
require 'watir-webdriver'
<% end %>
<% if driver == 'capybara' -%>
require 'selenium-webdriver'
require 'capybara'
require 'capybara/dsl'
require 'site_prism'
<% end %>

Before do
<% if driver == 'watir' -%>
  @browser = Watir::Browser.new :firefox
<% end %>
<% if driver == 'capybara' -%>
  @browser = Selenium::WebDriver.for :firefox
<% end %>
end

After do
  @browser.close
end