source 'http://rubygems.org'

gem 'cucumber'
gem 'rspec'
gem 'rake'
gem 'fig_newton'
<% unless pageobject_driver.downcase == 'none' -%>
gem 'page-object'
<% end -%>
<% if with_lib == 'true' or with_gametel == 'true' -%>
gem 'require_all'
<% end -%>
<% if with_gametel == 'true' -%>
gem 'gametel'
<% end -%>
<% if with_mohawk == 'true' -%>
gem 'childprocess'
gem 'mohawk'
<% end -%>
